@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Smooch&display=swap" rel="stylesheet">

<div class="text-center" style= "margin-top: 200px">
    <h1 class="display-4" style="font-family: 'Raleway', sans-serif; font-family: 'Smooch', cursive;">Welcome</h1>
    <h1 class="display-4" style="font-family: 'Raleway', sans-serif;">CANBOOKRAM</h1>
</div>
